body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #29558d;
    color:white;
    padding: 30px 20px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 2.5em;
}
header p{
    margin: 8px 0 0;
    font-size: 1em;
    color: #afb5c2;
}
main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0px 20px;
}
section{
    background-color: #43669b;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: #f4f4f4;
    
}
ul{
    list-style-type:none;
    padding: 0;
}
ul li{
    background-color: #f5ebd1;
    margin: 6px 0px;
    padding: 10px;
    border-radius: 4px;
    color: #333;
}
a{
    text-decoration: none;
    color: #98a6e9;
}
a:hover{
    color: #f3b543;
    text-decoration: underline;
}
#btn-saludar{
    border-radius: 6px;
    margin-top: 12px;
    padding: 10px 24px ;
    background-color: #fce6bd;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
#btn-saludar:hover{
    background-color: #cc9a3e;
    color: #ffffff;
}
footer{
    padding: 40PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 0.8em;
    background-color: #f5ebd1;
    
}